.App {
  height: 100vh;
  background-color: black;
}

.cords{
  display: inline-block;
  position: absolute;
  color: aqua;
  cursor: context-menu;
  border-radius: 50%;
  background-color: blue;
  
}

